.menu li:hover{

background-image: url('../img/balance.png');
    background-repeat: no-repeat;
    background-position: left; 
    background: opacity: 0.5;
}


.menu li{

	padding-left: 30px;
}

.msg_home, .servicos,.localizacao {
    text-align: center;
}

.balance_imobiliary{
    width: 50%;
    height: 50%;
}
.h3_texto{
    text-align: left;
}
.img_servicos{
    text-align: center;
}
