body{

  color: #333;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.busca,
.menu-departamentos{
  float: left;
  background-color: #dcdcdc;
  width: 230px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;


}
.busca input{
  border-radius: 10px;
  border-color: lightgrey;
  border-style: inset;
}
.busca button{
  border-style: none;
  border: none;
  background: transparent;
  transition: all 0.5s;
  cursor: pointer;
}
.busca button:span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.menu-departamentos{
  clear: left;
  margin-top: 10px;
  padding-bottom: 10px;
}

.menu-horizontal{
  position: absolute;
  bottom: 0;
  right: 0;

}
.busca{
  background-color: lightgrey;
}
.destaque{
  margin-top: 10px;

}
.busca h2,
.busca form,
.menu-departamentos h2{
margin:10px;
}
.menu-departamentos li{
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
  list-style: dotted;
}
.menu-departamentos li:hover{
background-image: linear-gradient(to right, white, lightgrey);



}
.menu-departamentos li:hover .submenu{
display: block;
}
.menu-departamentos a{
  color: #333333;
  text-decoration: none;
}
.menu-departamentos input{
  vertical-align: middle;
}
.busca input[type=search]{
  width: 170px;
}

.menu-horizontal li {
  display: inline;
  font-size: 15px;
  margin-left: 20px;


}
#menu-horizontal li:link{
  text-decoration: none;
}
.sacola{
  top: 0;
  right: 0;
  position: absolute;
  background: url(../img/sacola.png);
  width: 140px;
  background-repeat: no-repeat;
  background-position: top right;
  text-align: right;
  margin-top: 0px;
  padding-right: 50px;

  padding-top: 8px;
}
.container{

  margin: 0 auto;
  width: 940px;
}
header{
  position: relative;
}
.painel{
  padding: 10px;
  margin: 10px 0;
  width: 445px;
  border-radius: 5%;
  border-color: black;


}
.painel h2{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.painel li{
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  padding-bottom: 10px;
  width: 140px;
  float: left;

}
.painel li{
    transition:  0.7s;
}
.painel li:hover{
  box-shadow: 0 0 5px #333;
  transform: scale(1.04) rotate(-5deg);

}

.painel li:nth-child(2n):hover{
  transform: scale(1.2) rotate(5deg);
}
.painel a{
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.novidades{
  float: left;
  * Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
  background: #fcecfc;
  background: -moz-linear-gradient(top, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
  background: -webkit-linear-gradient(top, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
  background: linear-gradient(to bottom, #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 );

}
.mais-vendidos{
  float: right;
  background: #b7deed;
background: -moz-linear-gradient(top, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
background: -webkit-linear-gradient(top, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
background: linear-gradient(to bottom, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 );


}
.paineis{
  background-color: #f1f1f1;


}
.social{
  float:right;
}
.social  a{
  display: inline-block;
  text-indent: -99999px;
  width: 32px;
  height: 32px;
}
.social li{
  display: inline;

}
.social  a{
  text-decoration: none;

}
.social li a[href*="facebook.com"]{
  background-image: url(../img/facebook.png);
  background-repeat: no-repeat;
}
.social li a[href*="twitter.com"]{
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
}
.social li a[href*="google.com"]{
  background-image: url(../img/googleplus.png);
  background-repeat: no-repeat;
}
.social li a:link{
  color: white;
}
footer{
  padding: 15px;
  clear: both;
  background-image: url(../img/fundo-rodape.png);
}
.submenu{
  display: none;

}
.submenu li{
  background-image: linear-gradient(to right, white, lightgrey);

}
.submenu li:hover{
  background-image: linear-gradient(to right, white, gray);
  border-radius: 15px;
}
.submenu li::before{
  content: '.';
}
.menu-opcoes a:active{
color:red;

}



.painel h2::before{
  content: '\2756';
  padding-right: 5px;
  opacity: 0.4;
}


@media(min-width:300px)and (max-width: 900px){

  .container{
    width: 100%;
  }
  .menu-horizontal{
    position: static;
  }
  .menu-opcoes {
    position: static;
    text-align: center;

  }
  header h1{
    text-align: center;
  }
  .sacola{
    display: none;
  }


  .menu-opcoes ul li{
    display: inline-block;
    margin: 5px;
  }
  .busca, .menu-departamentos, .destaque img{
    margin-right: 0;
    width: 100%;
  }
  .painel{
    width: auto;
  }
  .painel li{
    width: 30%;
  }
  .painel img {
    width: 100%;
  }


}

@media (min-width: 480px){
  header h1{
    margin: 5px 0;
  }
  .menu-departamentos{
    padding-bottom: 10px;
    margin-bottom: 10px;

  }
  .menu-departamentos nav >li {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}



}
